# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-south-1

# SMTP Credentials
SMTP_SERVER=smtp.zeptomail.in
SMTP_PORT=587
SMTP_USERNAME=emailapikey
SMTP_PASSWORD=your_smtp_password
SENDER_EMAIL=support@harishcriticalcareclasses.com
SENDER_NAME=Harish Critical Care Classes
